DATABASE_URL="Your DATABASE_URL"
PORT= "Your PORT"
APP_URL= "Your APP_URL"
JWT_ACCESS_SECRET="Your JWT_ACCESS_SECRET"
JWT_ACCESS_EXPIRES_IN="Your JWT_ACCESS_EXPIRES_IN"
JWT_REFRESH_TOKEN="Your JWT_REFRESH_TOKEN"
JWT_REFRESH_EXPIRES_IN="Your JWT_REFRESH_EXPIRES_IN"

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=